__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
*.log

.DS_Store

.env
.env.*
.venv/
echoenv/
.vscode/
.idea/

*.pyo
*.pyd
*.cover
.coverage
htmlcov/

db.sqlite3
**/migrations/__pycache__/

node_modules/
